<div class="footer">
  <div class="row">
    <div class="test-show-boxes hidden-sm hidden-xs col-md-2"></div>
    <div class="test-show-boxes col-md-8 centered">
      <a href="https://twitter.com/NibbleOnCode" class="btn btn-primary"><i class="fa fa-twitter"></i> Twitter</a>
      <a href="https://github.com/NibbleOnCode" class="btn btn-primary"><i class="fa fa-github"></i> Github</a>
      <a href="https://www.linkedin.com/pub/paul-johnson/76/4a1/264" class="btn btn-primary"><i class="fa fa-linkedin"></i> LinkedIn</a>
      
    </div>
    <div class="test-show-boxes hidden-sm hidden-xs col-md-2"></div>
  </div>
  <div class="row">
    <div class="test-show-boxes hidden-sm hidden-xs col-md-2"></div>
    <div class="test-show-boxes col-md-8 centered">
      <p> Paul made this </p>
    </div>
    <div class="test-show-boxes hidden-sm hidden-xs col-md-2"></div>
  </div>
</div>