<div class="test-show-boxes col-md-8 main most-of-page">
	<div ng-repeat="blog in blogs">	
		<div>
		  <a ui-sref="core.blog({id: blog.file})"><h3 class="test-show-boxes"> {{blog.name}} </h3></a>
		  <p class="test-show-boxes">
		    {{blog.desc}}</p>  <b><a ui-sref="core.blog({id: blog.file})">More...</a></b>
		  
		</div>
		<hr>
	</div>
	<div class="test-show-boxes">
	  <a href="#"><h3 class="test-show-boxes"> About me </h3></a>
	  <p class="test-show-boxes">
	    Street art kogi truffaut fixie, listicle normcore locavore freegan direct trade viral chambray stumptown cold-pressed. VHS selvage fixie, ugh forage chartreuse mlkshk sartorial wolf ethical pabst butcher. Scenester tilde single-origin coffee, pitchfork austin cray normcore truffaut locavore leggings craft beer. Fashion axe before they sold out echo park ethical. Freegan cronut leggings cred, single-origin coffee squid pour-over 90's mustache health goth. Authentic craft beer put a bird on it, fap ramps typewriter you probably haven't heard of them health goth offal 90's pour-over trust fund sartorial shabby chic. Tumblr plaid helvetica, chillwave typewriter meggings intelligentsia thundercats banh mi you probably haven't heard of them kinfolk art party 3 wolf moon.
	  </p>
	</div>

</div>